#header{
    display: flex;
    align-content: flex-end;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#logo{
    height: 150px;
    width :170px
}
#otherElem>ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between
   
    /* float: right; */
}
#otherElem>ul>li{
    display: inline-block;
    padding: 5px;
}
#title{
    font-size: x-large;
    font-weight: 600;
    font-style: italic;
    position: relative;
    top:50px
}
#body {
    padding: 20px;
}
#searchBar{
    /* position: relative;
    left: 600px; */
    justify-self: center;
    background-color: rgb(242, 214, 161);
    height: 100px;
    

}

#search{
    background-color: rgb(249, 239, 222);
    position: relative;
    left:576px;
    top:35px
}
#bar{
    position: relative;
    left:575px;
    top:35px
}
#restaurantCard{
    height: 350px;
    width:300px;
    padding: 15px;
    display: inline-block;
    margin: 10px;
    contain: content;
    
   
}
#restaurantCard:hover{
    /* border: 0.5px solid rgb(172, 170, 170); */
    /* border-inline:0.5px; */
    /* padding: 5px; */
    box-shadow: 2px 2px 2px rgb(173, 173, 173), -2px -2px 2px rgb(177, 177, 177);
    
}
#restaurantCard>h2{
    height: 60px;
    color: black;
}
#restaurantCard>h4{
    height: 40px;
    color: black;
}
#img{
    height: 200px;
    width: 300px;
    position: relative;

}
.widthMaintain{
    width: auto;
    overflow: hidden;
    margin: 10px;
    
}
#cuisines{
    word-spacing: 10px;
    overflow: hidden;
    align-items: baseline;
    color: black;
}
#restElem{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px; 
    color: black;
    
}
#restElem>li{
    display: inline-block;
    padding: 5px;
}

#headerForMenu{
    height:250px;
    background-color:#003636;
    display: flex;
    margin: 20px;
    padding-top: 10px;
}
#headerForMenu>img{
    height: 160px;
    width:250px;
    margin:5px;
    position: relative;
    top:30px;
    left:120px
}
#underTitle{
    position: relative;
    left:180px;
    margin:10px;
    color:white

}
#underTitle>ul>li{
    display: inline-block;
    padding-top: 20px;
    padding-right: 60px;
    font-size:medium;
    font-weight: 600;
    color: antiquewhite;
}
#underTitle>ul{
    /* display: flex; */
    padding: 0px;
    justify-content: space-between;
}
#menuParent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    contain: content;
}
.menuBody{
    height: 200px;
    width:900px;
    border-bottom: 1px solid rgb(134, 131, 131);
    margin: 5px;
    align-content: center;
    display: flex;
    justify-content: space-between;
   
}
.namePrice{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}
.namePrice>h2{
    margin: 5px
}
.namePrice>h3::before{
    content: "\20B9";
    margin-right: 0.1rem;
    ;
}
.imgMenuCard{
    height: 118px;
    width: 188px;
    margin-right: 30px;
    
}
#imgMenuCardColor{
    filter: grayscale(100%);
}
.menuImgPositioning{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}